<div class="w-100 h-100">
  <div class="h-100 w-100 d-flex align-items-center justify-content-center">
    <div
      class="col-xl-5 col-lg-5 col-md-8 col-sm-8 col-12 d-flex flex-column text-center bg-light border-0 card login-container"
    >
      <mat-tab-group class="w-100 bg-light">
        <mat-tab label="Sign in">
          <app-login-form></app-login-form>
        </mat-tab>
        <mat-tab label="Sign up">
          <app-sign-up-form></app-sign-up-form>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
