.success {
    background-color: #4caf50; /* Verde */
    color: white;
    padding: 16px;
    border-radius: 4px;
  }
  
  .error {
    background-color: #f44336; /* Rojo */
    color: white;
    padding: 16px;
    border-radius: 4px;
  }
  
  .info {
    background-color: #2196f3; /* Azul */
    color: white;
    padding: 16px;
    border-radius: 4px;
  }